
<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% load static %}

{% block content %}
  <head>

<style>
    #registeradmin{
    margin-top:100px;
    }
    #button{
    margin-left:450px;
    }

</style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


  </head>
  <body>
 <form method="post" enctype="multipart/form-data">{% csrf_token %}

<div class="container" >
    <div class="card-body">
            <div class="form-group" id="registeradmin">
                <center><h1 style="color:white;">Add Category</h1></center>
                <label  class="text-white">Property Name</label>
            <input name="property_name" type="text" class="form-control"  placeholder="property Name" required>
            </div>
            <div class="form-group">
            <label  class="text-white">About Property</label>
            <input type="text" name="aboutproperty" class="form-control"  placeholder="About Property" required>
            </div>
           <div class="form-group">
                <label class="text-white">File input</label>

              <div class="mb-3">
                  <label class="form-label">property image</label>
                  <input class="form-control" name=" propertyimage" type="file" required>
              </div>
           </div>


    </div>
            <div class="card-footer">
            <button type="submit" class="btn btn-primary" id="button">Submit</button>
            </div>
    </div>


</form>


  </body>
</html>
{% endblock %}