<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="/static/login/style.css">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#" method="post">{% csrf_token %}
        <input type="text" name="username" placeholder="Enter your Username">
        <input type="password" name="password" placeholder="Enter your password">
        <input type="submit" class="button" value="Login">
      </form>
    </div>
  </div>
</body>
</html>