<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
{% load static %}

{% block content %}
<head>
  <style>
    #displayregister{
    margin-left:250px;
     height: 700px;
       text-decoration: none !important;
    }

    #details{
    margin-top:150px;
    background-color: lightblue;
     }
     .card-body{
       background-color: lightblue;
     }
     .values{
       color: black;
     }
     h5{
      font-family: 'Times New Roman', serif;
     }
  </style>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
     <div class="container" id="displayregister">
        <div class="card">
                          <div class="card-body">
                            <center><h2 id="details">Property Details</h2></center>
                            <div class="table-responsive mt-5">
                              <table class="table  table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th> <h5>Category</h5></th>
                                    <th> <h5>Property Place</h5> </th>
                                    <th> <h5>Property Address</h5></th>
                                      <th> <h5>Property price</h5></th>
                                    <th> <h5>Property image</h5></th>
                                      <th><h5> Edit </h5></th>
                                      <th><h5> Delete </h5></th>


                                  </tr>
                                </thead>
                             <tbody class="values">
                             {% for i,j,k,l,m,n in mylist %}
                              <tr>
                                  <td><h6>{{i}}</h6></td>
                                   <td><h6>{{j}}</h6></td>
                                  <td><h6>{{k}}</h6></td>
                                   <td><h6>{{l}}</h6></td>

                                   <td><img src="/media/product_image/{{m}}" height="200px" width="200px"></td>
                                  <td>

                                      <a type="submit" href="http://127.0.0.1:8000/pro_adminapp/editproperty/{{n}}" class="btn btn-success">Edit</a>


                                  </td>
                                  <td>
                                      <a type="submit" href="http://127.0.0.1:8000/pro_adminapp/deleteproperty/{{n}}" class="btn btn-danger">Delete</a>
                                  </td>
                              </tr>
                             {% endfor %}
                             </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
       </div>
</body>
</html>
{% endblock %}