
<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
{% load static %}

{% block content %}
  <head>

<style>
    #registeradmin{
    margin-top:100px;
    }
    #button{
    margin-left:450px;
    }
</style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


  </head>
  <body>

 <form method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="container" >
    <div class="card-body">
            <div class="form-group" id="registeradmin">
                <center><h1 style="color:white;">Edit Category</h1></center>
                <label  class="text-white">Property Name</label>
            <input name="property_name" type="text" class="form-control" value="{{prod.property_name}}"  placeholder="property Name">
            </div>

            <div class="form-group">
            <label  class="text-white">About Property</label>
            <input type="text" name="aboutproperty" class="form-control" value="{{prod.aboutproperty}}"  placeholder="aboutproperty">
            </div>

           <div class="form-group">
               {% if prod.propertyimage %}
               <img src="/media/category_image/{{li}}" height="200px" width="200px">
               {% endif %}

              <div class="mb-3">
                  <label class="form-label text-white">property image</label>
                  <input class="form-control" name="propertyimage" type="file" >
              </div>
           </div>

    </div>

            <div class="card-footer">
            <button type="submit" class="btn btn-primary" id="button">Submit</button>
            </div>
    </div>


</form>

  </body>
</html>
{% endblock %}